<%= simple_form_for([@pic, @pic.comments.build]) do |f| %>
  
  <% if @comment && @comment.errors.any? %>
    <div id="errors">
      <h3>
        <%= pluralize(@comment.errors.count, 'error') %>
        kept this comment from being saved:
      </h3>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :body, label: false, placeholder: 'What do you think?'%>
    <%= button_tag(type: 'submit', class: 'btn form-actions pull-right') do %>
      <i class="fa fa-paper-plane"></i> 
    <% end %>
  </div>
<% end %>
  