.col-md-6.col-md-offset-3
  #pics.transitions-enabled.centered.clearfix.masonry
    - @pics.each do |pic|
      .box.panel.panel-default
        = link_to pic do
          = image_tag pic.image, class: 'img-responsive' # cok seksi
        .padding
          %h3= link_to pic.title, pic
          %p= pic.description.slice 0..220
        .comments
          - if pic.comments.any?
            = render pic.comments
        .panel-footer.box
          .row
            .col-md-12
              %small Posted by
              - if current_user == pic.user
                = 'you'
              - else
                = pic.user.name || pic.user.email
              = time_ago_in_words(pic.created_at)
              ago.
              - if user_signed_in?
                .btn-group.pull-right
                  = link_to " #{pic.get_downvotes.size}", dislike_pic_path(pic),
                   method: :put, class: 'btn btn-default fa fa-thumbs-o-down'
                  = link_to " #{pic.get_upvotes.size}", like_pic_path(pic),
                   method: :put, class: 'btn btn-default fa fa-thumbs-o-up'
      %hr/