%h4= link_to 'Post a pic', new_pic_path
%br/
.card-group
  - @pics.each do |pic|
    .card.card-outline-info
      %h2= link_to pic.title, pic
      %p= pic.description.slice 0..150
      %p
        %small Posted by
        = pic.user.name
      = link_to 'Delete', pic, method: :delete,
      data: { confirm: 'Are you sure' }, class: 'btn btn-default btn-sm'