- @pics.each do |pic|
  .card.card-inverse
    .card-img-top
      = image_tag pic.image.url(:medium)
    %h3= link_to pic.title, pic
    %p= pic.description.slice 0..220
    %p
      %small Posted by
      = pic.user.name
    = link_to 'Delete', pic, method: :delete,
    data: { confirm: 'Are you sure' }, class: 'btn btn-default btn-sm'
  %br/