<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav navbar navbar-light">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to ' ', root_path, class: 'fa fa-camera-retro fa-1x'%> <!-- yey -->
        </div>
        <div class="pull-right">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to ' Post Pic', new_pic_path, class: 'fa fa-plus-square' %></li>
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Log in', new_user_session_path %></li>
            </ul>
          <% end %>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: 'allert' %>
      <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
